body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 16px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background: rgb(63,94,251);
   background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
	color: #111;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.btnsapple {
   background: rgb(189, 187, 187);
   width: 500px;
   height: 20px;
   border-radius: 10px 10px 0 0;

   display: flex;
   align-items: center;
}

.red, .yellow, .green {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   cursor: pointer;
   position: relative;
}

.yellow, .green {
   margin-left: 7px;
}

.red {
   background: #ff5e29;
   margin-left: 10px;
}


.close {
   text-decoration: none;
   color: rgb(34, 34, 34);
   position: absolute;
   bottom: -.99px;
   left: 2.5px;
   font-size: 11px;
   opacity: 0;
}
.close:hover {
   opacity: 1;
}

.yellow {
   background: rgb(255, 238, 1);
}


.green {
   background: rgb(3, 241, 3);
}

.wrapper{width: 100%;}

.quiz-frame {
	border: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.wrapper {
	width: 100%;
	height: 100%;
	display: table;

   background: white;
}

.main {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.quiz-frame {
	border: 0;
   border-radius: 0 0 10px 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.quiz__head {
	font-size: 20pt;
	margin: 10px;
	margin-bottom: 50px;
}
.head__content {padding: 5px;}
.quiz__body {margin: 10px;}
.quiz__footer {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
}
.footer__content {padding: 0 0 20px;}

.button {
	border: 0;
	border-radius: 10px;
	background: #6477EB;
	color: #fff;
	padding: 10px 25px;
	width: 70%;
	font-size: 15pt;
	display: block;
	margin: 5px auto;
	cursor: pointer;
}

.button_wrong {background: red;}

.button_correct{background: #0ace4c;}

.button_passive{background: #B3B3B3;}

@media (max-width: 507px) {
   iframe {
      width: 400px;
      height: 500px;
   }

   .btnsapple {
      width: 400px;
   }
}

@media (max-width: 416px) {
   iframe {
      width: 300px;
      height: 400px;
   }

   .btnsapple {
      width: 300px;
   }

   .quiz__head {
      margin-top: 0;
      margin-bottom: 20px;
   }

   .quiz__footer {
      right: 50%;
      transform: translate(50%);
   }

   .footer__content {
      padding: 0 0 17px;
   }
   
   .button {
      font-size: 14pt;
   }
}
